<h1><i class="fa fa-bolt"></i> App page</h1>

<div id="main">
</div>

<script id="appView" type="text/template">
  <h1>All tasks</h1>
  <ul id="tasks"></ul>
</script>

<script id="taskView" type="text/template">
  <h1>{{ id }}</h1>
  <h2>{{ due_date }}</h2>
</script>


<div id="taskForm">
  Form goes here.
</div>

<script type="html/template" id="taskInputViewTemplate">
  <textarea placeholder="Add new task"></textarea>
  <button>submit</button>
</script>

<hr>

<!-- Saves the current users data into var ** app.current_user ** -->
<% if @current_user.present? %>
<script>
  var app = app || {};
  app.current_user = <%= @current_user.to_json.html_safe %>;
  <% if @current_user.groups.any? %>
    app.current_user.group = <%= @current_user.groups[0].to_json.html_safe %>;
  <% end %>
</script>
<% end %>

<!-- TEMPLATES -->

<script id="activityPageViewTemplate" type="text/template">
  <hr>
  <h1>Add a task</h1>
  <h5>Select an activity</h5>
  <ul id="activitiesListContainer"></ul>
  <div class="button">
    <i class="fa fa-plus-circle"></i>
    Add or edit activities
  </div>
</script>

<script id="activityListItemTemplate" type="text/template">
    <p>{{ title }} &nbsp; </p>
</script>

<script id="activityEditPageViewTemplate" type="text/template">
  <h1>Add or edit activities</h1>
  <h5>Edit activities and give an effort rating</h5>
  <ul id="activitiesEditable"></ul>
  <div id="buttonDashed">
    <i class="fa fa-plus-circle"></i>
    Add another activity
  </div>
  <div id="button">
    <i class="fa fa-check-circle"></i>
    Save
  </div>
</script>

<script id="activityEditListItemTemplate" type="text/template">
    <form></form>
    <p>{{ title }} – <strong><small> Effort: {{ effort }} / Group ID: {{ group_id }}</small></strong></p>
</script>

<!-- template to display cureent user profile = My details -->
<script type="text/template" id="UserDetailsPageViewTemplate">
   <p>Users details should go here<p>
<table>
  <thead>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Phone</th>
      <th>Email</th>
      <th>Password</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td><%= @current_user.first_name %></td>
      <td><%= @current_user.last_name %></td>
      <td><%= @current_user.phone %></td>
      <td><%= @current_user.email %></td>


    </tr>
  </tbody>
</table>
</script>

<!-- Template to edit current user details -->
<script type="text/template" id="EditUserDetailsPageViewTemplate">
  <form action="">
    <legend>Edit <%= @current_user.first_name %></legend>
    <label>First Name</label>
    <input type="text" name = "first_name" id="first_name" value="<%= @current_user.first_name %>">
    <label>Last Name</label>
    <input type="text" name = "last_name" id="last_name" value="<%= @current_user.last_name %>">
    <label>Phone</label>
    <input type="text" name = "phone" id="phone" value="<%= @current_user.phone %>">
    <label>Email</label>
    <input type="text" name = "email" id="email" value="<%= @current_user.email %>">
    <label>Password</label>
    <input type="text" name = "password" id="password">
    <label>Password Confirmation</label>
    <input type="text" name = "password_confirmation" id="password_confirmation">
    <div id="error"></div>
    <button type="submit" class="editButton">Submit</button>
  </form>
</script>


<div id="error"></div>


<script id="memberPageViewTemplate" type="text/template">
  <hr>
  <h1>List of users</h1>
  <ul id="memberList">
  </ul>
</script>


<script id="memberListItemTemplate" = type="text/template">
  <p>{{ first_name }} - {{ total_score }}</p>
</script>

<script id="newGroupPageViewTemplate" type="text/template">
  <hr>
  <h1>Create a new group</h1>
  <label for="groupName">Give your group a name</label>
  <input type="text" id="groupName" autofocus/>
  <button id="addGroup">Create group</button>
  <hr>
  <h1>Join a group</h1>
  <label for="joinGroupName">Choose a group to join</label>
  <select id="joinGroupName">
  </select>
  <button id="joinGroup">Join group</button>
</script>
