<nav class="menu">
  <h3>Welcome <%= @current_user.first_name %></h3>
  <a href="#tasklist">Task List&nbsp;</a>
  <a href="#leaderboard">Leaderboard&nbsp;</a>
  <a href="#groupStats">Group Stats&nbsp;</a>
  <a href="#activities">Activities&nbsp;</a>
  <a href="#mydetails">My Details&nbsp;</a>
  <% if @current_user.present? %>
  <%= link_to 'Logout', logout_path, method: :delete %>
  <% end %>
</nav>

<div id="main"></div>

<!-- Feedback section from underneath -->
<script id="feedbackListViewTemplate" type="text/template">
  <ul id="feedbacks">
  </ul>
</script>

<!-- this feedbackListItemView is going into <ul id="feedbacks"> -->
<script id="feedbackListItemViewTemplate" type="text/template">

  <div class="feedback-item">

    <div class="feedback-upper-item">
      <div class="avatar">
        <p>{{ first_name }}</p>
      </div>
      <div class="feedback-title">
        <p id="first-name">{{ first_name }} FINISHED:</p>
        <p id="task-title">{{ title }}</p>
      </div>
    </div>

    <div class="how-feel">
     <p>HOW DO YOU FEEL ABOUT THEIR EFFORT? {{ rating }}</p>
    </div>

  </div>

</script>

<script id="taskListViewTemplate" type="text/template">
  <table class="task-selector">
    <tbody>
      <tr>
        <th class="all-tasks">All tasks</th>
        <th class="my-tasks">My tasks</th>
      </tr>
    </tbody>
  </table>
  <ul id="tasks">
    <!-- //taskListItemViewTemplate comes here -->
  </ul>
</script>

<!-- this taskListItemView is going into <ul id="tasks"> -->
<script id="taskListItemViewTemplate" type="text/template">

  <div class="task-item">

    <div class="avatar">
      <p>{{ first_name }}</p>
    </div>

    <div class="task-title">
      <p> {{ title }} </p>
      <p>&nbsp;<span></span>&ensp;{{ first_name }}</p>
    </div>

    <div class="due-date">
      <input type="checkbox" class="toggle" {{ done ? 'checked': '' }}>
      <p>Due:{{ due_date }}</p>
    </div>

  </div>
</script>


<script id="taskView" type="text/template">
  <p>User_ID: {{ user_id }}</p>
  <p>Due date: {{ due_date }}</p>
  <p>Done? {{ done }}</p>
  <p>Effort: {{ effort }}</p>
  <p>Task ID: {{ id }}</p>
</script>


<div id="taskForm">

</div>

<script type="html/template" id="taskInputViewTemplate">
  <textarea placeholder="Add new task"></textarea>
  <button>submit</button>
</script>

<hr>

<!-- Saves the current users data into var ** app.current_user ** -->
<% if @current_user.present? %>
<script>
  var app = app || {};
  app.current_user = <%= @current_user.to_json.html_safe %>;
  app.current_user.avatar = "https://robohash.org/" + "<%= @current_user.first_name %>" + ".png";
  <% if @current_user.groups.any? %>
    app.current_user.group = <%= @current_user.groups[0].to_json.html_safe %>;
  <% end %>
</script>
<% end %>

<!-- TEMPLATES -->
<script id="taskListPageViewTemplate" type="text/template">
  <hr>
  <div id="memberListViewContainer"></div>
  <div id="feedbackListViewContainer"></div>
  <div id="taskListViewContainer"></div>
  <div class="button">
    <i class="fa fa-plus-circle"></i>
  </div>
</script>

<script id="activityPageViewTemplate" type="text/template">
  <hr>
  <h1>Add a task</h1>
  <h5>Select an activity to add a task</h5>
  <div id="activitiesListContainer"></div>
  <div class="button" id="editActivitiesButton">
    <i class="fa fa-plus-circle"></i>
    Add or edit activities
  </div>
</script>

<script id="activityListItemTemplate" type="text/template">
    {{ title }} &nbsp;<span></span>
</script>

<script id="activityEditPageViewTemplate" type="text/template">
  <hr>
  <h1>Add or edit activities</h1>
  <h5>Edit activities and give an effort rating</h5>
  <div id="activitiesEditListContainer"></div>
  <div class="button button-outline" id="addActivity">
    <i class="fa fa-plus-circle"></i>
    Add another activity
  </div>
  <div class="button" id="saveButton">
    <i class="fa fa-check-circle"></i>
    Save
  </div>
</script>

<script id="activityEditListItemTemplate" type="text/template">
  <input type="text" name = "title" id="title" value="{{ title }}">
  <div id="effortSelector">
  </div>
</script>

<!-- template to display cureent user profile = My details -->
<script type="text/template" id="UserDetailsPageViewTemplate">
<hr>
<h1>My details</h1>
<table>
  <thead>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Phone</th>
      <th>Email</th>
      <th>Password</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td><%= @current_user.first_name %></td>
      <td><%= @current_user.last_name %></td>
      <td><%= @current_user.phone %></td>
      <td><%= @current_user.email %></td>
      <td><%= @current_user.avatar %></td>
    </tr>
  </tbody>
</table>
</script>

<!-- Template to edit current user details -->
<script type="text/template" id="EditUserDetailsPageViewTemplate">
  <form action="">
    <label>First Name</label>
    <input type="text" name = "first_name" id="first_name" value="<%= @current_user.first_name %>">
    <label>Last Name</label>
    <input type="text" name = "last_name" id="last_name" value="<%= @current_user.last_name %>">
    <label>Phone</label>
    <input type="text" name = "phone" id="phone" value="<%= @current_user.phone %>">
    <label>Email</label>
    <input type="text" name = "email" id="email" value="<%= @current_user.email %>">
    <label>Password</label>
    <input type="text" name = "password" id="password">
    <label>Password Confirmation</label>
    <input type="text" name = "password_confirmation" id="password_confirmation">
    <label>Avatar</label>
    <input type="text" name = "avatar" id="avatarVal" value="<%= @current_user.avatar %>">
    <div id="error"></div>
    <button type="submit" class="editButton">Submit</button>
  </form>
</script>
<div id="error"></div>

<script id="LeaderboardPageViewTemplate" type="text/template">
  <hr>
  <h1>Leaderboard</h1>
  <ul id="leaderList">
  </ul>
</script>

<div class="name_score_Board">
<script id="LeaderboardListItemViewTemplate" type="text/template">
  <div class="lbmember">
  <img src="{{avatar}}">
  <p>{{ first_name }} - {{ total_score }}</p>
  </div>
</script>

<script id="memberPageViewTemplate" type="text/template">
  <div id="memberList">
  </div>
</script>


<script id="memberListItemTemplate" = type="text/template">
  <div class="member">
  <img src="{{avatar}}">
  <p>{{ first_name }} - {{ total_score }}</p>
  </div>
</script>

<script id="addTaskPageViewTemplate" type="text/template">
  <hr>
  <h1>Add a task</h1>
  <h5>{{title}}</h5>
  <div id="memberSelectContainer"></div>
  <label>Due date:</label>
  <input type="date" name="due">
  <button class="button" id="saveTask">
  
    Save Task
    <i class="fa fa-check-circle"></i>
  </button>
</script>


<script id="AddActivityPageView" type="text/template">
<hr>
<h1>Add an activity</h1>
<label>Name of the activity:</label> 
<input type="text" name="nameActivity" id="nameActivity">  

<span>
  <i class="yellow fa fa-star effort2"></i>
  <i class="yellow fa fa-star effort2"></i>
  <i class="yellow fa fa-star-o effort0"></i>
  <i class="yellow fa fa-star-o effort0"></i>
</span>
<button class="button" id="saveActivity">
  Save Activity
</button>
</script>

<script id="newGroupPageViewTemplate" type="text/template">
  <hr>
  <h1>Create a new group</h1>
  <label for="groupName">Give your group a name</label>
  <input type="text" id="groupName" autofocus/>
  <button id="addGroup">Create group</button>
  <hr>
  <h1>Join a group</h1>
  <label for="joinGroupName">Choose a group to join</label>
  <select id="joinGroupName">
  </select>
  <button id="joinGroup">Join group</button>
</script>


<script id="groupStatsPageViewTemplate" type="text/template">
<hr>
<h1>Stats for the group </h1>
<div id="memberList"></div>
<div id="graphViewContainer"></div>
</script>



